body {
    font-family: "Roboto", sans-serif;
    color: var(--mediumdarkshadeofblue-color);
    background-color: #ffffff;
}

:root {
    --title-color: #2e2f42;
    --first-main-color: #4d5ae5;
    --second-main-color: #404bbf;
    --ghostWhite-color: #f4f4fd;
    --tipical-line-height: 1.5;
    --white-color: #ffffff;
    --mediumdarkshadeofblue-color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ===========CONTAINER HEADER======== */

.container-header {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn-hero {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--first-main-color);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
}

.btn-hero:hover,
.btn-hero:focus {
    background: var(--second-main-color);
}

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.04em;
    color: var(--first-main-color);
    background: var(--ghostWhite-color);
    cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--white-color);
    background: var(--second-main-color);
}

.logo-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-first {
    margin-right: 76px;
    color: var(--first-main-color);
}

.header-logo-second {
    color: var(--title-color);
}

.footer-logo-first {
    color: var(--first-main-color);
}

.footer-logo-second {
    color: var(--ghostWhite-color);
}

/*-----HEADER-----*/

.header-conteiner {
    display: flex;
    align-items: center;
}

.header-section {
    display: flex;
    border-bottom: 1px solid #e7e9fc;

}

.header-navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 24px;
}

.nav-item {}

.header-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding-bottom: 24px;
    padding-top: 24px;
}

.header-link:hover,
.header-link:focus {
    color: var(--second-main-color);
}

.address {
    font-style: normal;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-item {}

.address-link {
    font-family: inherit;
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
    color: inherit;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-link:hover,
.address-link:focus {
    color: var(--second-main-color);
}

/*-----HERO-----*/

.section-hero {
    background: var(--title-color);
    padding: 188px 0;
}

.headline {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
}


/*-----OUR PRINCIPLES AND PRIORITIES-----*/

.section-principles {
    padding: 120px 0;
}

.principles-title {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.principles-list {
    display: flex;
    gap: 24px;
}

.principles-item {
    width: calc((100% - 72px) / 4);
}

.page-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.principles-text {
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
}

/*-----OUR PRODUCTS-----*/

.product-section {
    padding-bottom: 120px;
}

.body-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
    padding-bottom: 120px;
}

.product-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.product-item {
    width: calc((100% - 48px) / 3);
}

/*-----OUR TEAM-----*/

.team-section {
    background: var(--ghostWhite-color);
    padding: 120px 0
}

.body-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-position {
    padding: 32px 16px;
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px
}

.team-text {
    font-size: 16px;
    line-height: var(--tipical-line-height);
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
}

/*-----MENU BUTTON-----*/

/* .section-btn {}

.filter-title {} */

.btn-list {
    list-style: none;
}

/* .btn-item {} */

/*-----OUR GALLERY-----*/

/* .gallery-list {}

.gallery-item {} */

.gallery-link {
    font-family: inherit;
    font-style: normal;
}

.gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.gallery-text {
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
    color: var(--mediumdarkshadeofblue-color);
}

/*-----FOOTER-----*/

.footer-section {
    background: var(--title-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ghostWhite-color);
}